<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1> Faça Login</h1>
        <form>
            <label for="username">Nome de Usuário:</label>
            <input type="text" v-model="username" required>
            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword" required>

            <label for="confirmPassword">Confirmar senha</label>
            <input type="password" v-model="confirmPassword" required>

            <button type="submit" @click.prevent="login">Entrar</button>
        </form><!--Fechamento form-->
        <button @click="adicionarUsuario">Cadastrar</button>
        <p>{{correto}}</p>
        <p v-if="error" class="error">{{error}}</p>
    </div>
    <script src="process.js"></script>
</body>
</html>