.error {
    color: red;
    margin-top: 30px;
}

.correto {
    color: green;
    margin-top: 30px;
}

body{
    background: rgb(254, 254, 254);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(246, 255, 215);
    padding: 20px;
    box-shadow: 0 10px gray;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 3px;
}

input[type="text"], [type="password"]{
    padding: 1opx;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: yellowgreen;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: azure;
}