body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
}

hi{
    font-size: 36px;
    color: aqua;
    margin-top: 0;
}

p{
    font-size: 20px;
    line-height: 1.5;
    color: crimson;
}

.container{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    flex-direction: column;
    display: flex;
    text-align: center;
    padding: 20px;
}

@media (max-widht: 768px){
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .container{
    width: 90%;
    padding: 10px;
    }
}