.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
    border: 1px solid #090909;
    border-radius: 4px;
    padding: 20px;

}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 93%;
    height: 65px;
    margin-bottom: 20px;
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(28, 208, 0, 0.681);
    color: #000000;
}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.operadores{
    background-color: #000000;
    color: aliceblue;
    border: 2px solid;
}/*Fechamento operadores*/

.outros{
    background-color: rgba(28, 203, 1, 0.633);
    color: whitesmoke;
    border: 2px solid #f7f7f7;
}/*Fechamento outros*/

button{
    height:50px;
    width: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}/*Fechamento button*/

button:last-child{
    margin-right: 0;
}

button:hover{
    background-color: #4b4b4b;
    color: #ffffff;
}